*{
margin: 0px;
padding: 0px;
}

#header{
    background-color: #FFC300;
    width: 100%;
    height: 80px;
    
}

.heading_text{
    font-family: lato,sans-serif;
    padding-top:20 px ;
    padding-left: 5px;
}

.info{
    background: brown;
    color: ghostwhite;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 22px;
}


.img{
    border: 2px solid black;
}

.img:hover{
    transform: scale(1.1);
}

.para{
    padding-top: 10px;
}

#footer{
	bottom: 0px;
	color: black;
}
	
.f1{
font-family: sans-serif;
font-size: 18px;
bottom: 1px;
color: black ;
text-align: center;
text-decoration: none;
cursor: pointer;
margin-left: 30px;

}

.f2{
font-family: sans-serif;
font-size: 18px;
bottom: 2px;
color: black;
text-align: center;
text-decoration: none;
cursor: pointer;
padding-left: 1130px;
}	




/*page9-1*/

#header-1{
      background-color: #FFC300;
    width: 100%;
    height: 80px;
    
}

.heading_text1{
     font-family: lato,sans-serif;
    padding-top:20px ;
    padding-left: 5px;
}

.info1{
     background: brown;
    color: ghostwhite;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 22px;
    
}

.img1{
    margin-left: 200px;
     border: 2px solid black;
    margin-top: 10px;
}

.img1:hover{
    transform: scale(1.1);
}


.img2{
    border: 2px solid black;
    margin-top: 10px;
}

.img2:hover{
    transform: scale(1.1);
}



.img3{
    border: 2px solid black;
    margin-top:  -top: 10px;
}
.img3:hover{
    transform: scale(1.1);
}





/*page9-2*/

#header-2{
       background-color: #FFC300;
       width: 100%;
       height: 80px;
    
}

.heading_text2{
               font-family: lato,sans-serif;
                padding-top:20px ;
                padding-left: 5px;
}



.info2{
        background: brown;
       color: ghostwhite;
        padding-bottom: 10px;
        padding-left: 10px;
        font-size: 22px;
      
}

.img4{
    margin-left: 380px;
    border: 2px solid black; 
    margin-top: 10px;
}

.img4:hover{
    transform: scale(1.1);
}

.img5{
   border: 2px solid black; 
    margin-top: ;
}
.img5:hover{
  transform: scale(1.1);  
}

.info2 ul{
    padding-left: 2%;
}

/*sub-links*/


.span{
    color: black;
    font-weight: 200;
    font-family: cursive
}

.sub-link{
    display: block             
        }

 a:link,
 a:visited{
     text-decoration: none;
    color: gold;
    font-size: 20px;
    line-height: 50px;
}

a:hover{
    color: black;
    text-shadow: 0 5px 6px rgba(0,0,0,0.5);
}

a:focus{
    outline: none;
}



